<h1>Recipes</h1>
<div class="row">
<% @recipes.each do |r| %>
    <div class="col-md3">
    <h3><%= link_to r.title, r %></h3>
    <p><%= r.description %></p>
    </div>
<% end %>

</div>



<%=link_to 'New Recipe', new_recipe_path %>